{% extends 'base_accounts.html' %}
{% block title %}Log in data inventaris sarpras{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-8">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Masuk</h3>
                <form method="post" novalidate>
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ next }}">
                    {% include 'includes/form.html' %}
                    <button type="submit" class="btn btn-primary btn-block">Masuk</button>
                </form>
            </div>
            <div class="card-footer text-muted text-center">
                Belum memiliki akun? <a href="{% url 'signup' %}">Daftar</a>
            </div>
        </div>
        <div class="text-center py-2">
            <small>
                <a href="{% url 'signup' %}" class="text-muted">Lupa password?</a>
            </small>
        </div>
    </div>
</div>
{% endblock %}
