{% extends 'base.html' %}
{% block content %}
<div class="container-fluid p-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center">
      <div class="w-100">


        <div class="container">
            <h2>Data Peminjaman</h2>
             <p>The .table-striped class adds zebra-stripes to a table:</p>
            <a class="btn btn-primary" href="/admin/boards/peminjaman/" role="button">Kelola Data</a></br></br>
            <table class="table table-striped" id="printTable">
            <thead>
                <tr>
                     <th>Id Peminjaman</th>
                     <th>Tanggal Pinjam</th>
                     <th>Tanggal Kembali</th>
                     <th>Status Peminjaman</th>
                     <th>Id Pegawai</th>
                </tr>
             </thead>
                {% for peminjaman in peminjamans.all %}
            <tbody>
              <tr>
                  <td>{{ peminjaman.id_peminjaman }}</td>
                  <td>{{ peminjaman.tanggal_pinjam }}</td>
                  <td>{{ peminjaman.tanggal_kembali }}</td>
                  <td>{{ peminjaman.status_peminjaman }}</td>
                  <td>{{ peminjaman.id_pegawai}}</td>
              </tr>
            </tbody>
                {% endfor %}

            </table>
        </div>


      </div>
    </section>

  </div>
{% include 'includes/pagination.html' %}
{% endblock %}